<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body style="text-align: center;">

    <h2>Formulario de Inicio de Sesi칩n</h2>
    <img style="background-color: blue; " width="500px "
        src="https://vallegrande.edu.pe/wp-content/uploads/2023/03/logo-v3.png" alt="">
    <form action="/panel" method="post">
        <label for="correo_institucional">Correo Institucional:</label>
        <input type="email" id="correo_institucional" name="correo_institucional" required><br>

        <label for="contrasena">Contrase침a:</label>
        <input type="password" id="contrasena" name="contrasena" required><br>
        <a href="/registro">
            <p>Registrate</p>
        </a>
        <input type="submit" value="Iniciar Sesi칩n">
    </form>

</body>

</html>