<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Estudiante</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h2>Bienvenido Estudiante</h2>

    <p>Nombre: <%= estudiante.nombres %> <%= estudiante.apellidos %></p>
    <p>Carrera: <%= estudiante.carrera %></p>
    <p>Correo Institucional: <%= estudiante.correo_institucional %></p>

</body>

</html>
