<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Estudiantes</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <form action="/registro" method="post" onsubmit="return validarRegistro();">
        <h1>Formulario de Registro</h1>
        <label for="carrera">Carrera:</label>
        <select id="carrera" name="carrera">
            <option value="analisis sistemas">Análisis de Sistemas</option>
            <option value="produccion agraria">Producción Agraria</option>
        </select><br>

        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" required><br>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required><br>


        <label for="dni">Número de DNI:</label>
        <input type="text" id="dni" name="dni" required><br>

        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>

        <label for="correo_institucional">Correo Institucional:</label>
        <input type="email" id="correo_institucional" name="correo_institucional" required><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br>
        <label class="checkbox-label" for="terminos_condiciones">
            Aceptar los Términos y Condiciones
            <input type="checkbox" id="terminos_condiciones" name="terminos_condiciones" required>
        </label>

        <input type="submit" value="Registrar">
    </form>

   <script>
        function validarRegistro() {
            var carrera = document.getElementById('carrera').value;
            var nombres = document.getElementById('nombres').value;
            var apellidos = document.getElementById('apellidos').value;
            var dni = document.getElementById('dni').value;
            var fechaNacimiento = document.getElementById('fecha_nacimiento').value;
            var correoInstitucional = document.getElementById('correo_institucional').value;
            var contrasena = document.getElementById('contrasena').value;
            var terminosCondiciones = document.getElementById('terminos_condiciones').checked;

            if (!carrera || !nombres || !apellidos || !dni || !fechaNacimiento || !correoInstitucional || !contrasena || !terminosCondiciones) {
                alert('Todos los campos deben estar completos.');
                return false;
            }

            if (dni.length !== 8 || isNaN(dni)) {
                alert('DNI debe tener 8 dígitos.');
                return false;
            }

            alert('¡Registro exitoso!');

            return true;
        }
    </script>

</body>

</html>